@font-face {
    font-family: razi;
    src: url(./neue-haas-grotesk-display-pro-cufonfonts/);
}
@font-face {
    font-family: razi;
    font-weight: 150;
    src: url(./NeueHaasDisplayBold.ttf);
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:' Gilroy Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
}
html,body{
         /* position: relative; */
        height: 100%;
        width: 100%;
        /* cursor: pointer; */
    
        
}





#main{
    position: relative;
    z-index: 10;
}
#page1{
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    position: relative;
    padding: 0 2vw;
  


}

#nav{
    padding: 2vw 0vw;
    width: 100%;
    background-color: #EFEAE3;
    display: flex;
    align-items: center;
    
    justify-content: space-between;
    position: relative;
}
#nav-part2{
    
    display: flex;
    align-items: center;
    gap: 1vw;
}
#nav-part2 h4{
    padding: 10px 20px;
    border: 1px solid rgba(184, 180, 180, 0.895);
    border-radius: 20px 20px 20px 20px;
     font-weight: 500;
     color: rgba(69, 69, 69, 0.932);
     font-size: 18px;
     position: relative;
     transition: ease-in 0.4s;
     overflow: hidden;
}
#nav-part2 h4::after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 20px 20px 20px 20px;
    transition: ease-in 0.4s;
}
#nav-part2 h4:hover::after{
    bottom:0;
    border-radius: 0;

}
#nav-part2 h4 a{
    text-decoration: none;
    color: black;
    z-index: 9;
    position: relative;
}
#nav-part2 h4:hover a{
    color: white;
}
#nav h3{
    display: none;
}



#center{
    height: 65vh;
    width: 100%;
    /* background-color: orange; */
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border: 1px solid #0000003c;
    padding: 2vw;
}
#left h3{
    width: 25vw;
    font-size: 1.8vw;
    font-family: razi;
    line-height: 2vw;
}
#center h1{
    font-size: 8vw;
    line-height: 8vw;
    text-align: right;
}
#page1 video{
    width: 100%;
    border-radius: 30px;
    margin-top: 4vw;
    position: relative;
}
#hero-shape{
    position: absolute;
    height: 36vw;
    width: 36vw;
    background-color:#FE320A;
    right: 0;
    top: 35%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(25px);
    
}
#hero1{
    height: 30vw;
    width: 30vw;
    background-color:  #FE320A;
    position: absolute;
    border-radius:50% ;
    filter: blur(40px);
    animation-name: anime1;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
#hero2{
    height: 30vw;
    width: 30vw;
    background-color: #FE320A;
    position: absolute;
    border-radius:50% ;
    
    animation-name: anime2;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
#hero3{
    height: 30vw;
    width: 30vw;
    filter: blur(50px);
    background-color:  orange;
    opacity: .5;
    position: absolute;
    border-radius:50% ;
    animation-name: anime3;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
#hero4{
    height: 30vw;
    width: 30vw;
    background-color: #FE320A;
    opacity: .3;
    position: absolute;
    border-radius:50% ;
    right: -1;
    animation-name: anime4;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes anime4 {
    form{
        transform: translate(0%,0%);
    }
    to{
        transform: translate(0%,-30%);
    }
    
}
@keyframes anime1 {
    form{
        transform: translate(-20%,10%);
    }
    to{
        transform: translate(10%,-8%);
    }
    
}
@keyframes anime2 {
    from{
        transform: translate(10%,-10%);
    }
    to{
        transform: translate(-50%,0%);
    }
    
}
@keyframes anime3{
    from{
        transform: translate(-20%,-20%);
    }
    to{
        transform: translate(20%,20%);
    }
}
#page-2{
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 8vw 0;
}
#gola{
    background-color: #FE320A;
    height:70px ;
    width: 70px;
    border-radius: 50%;
    display: inline-block;
    margin: 1vw 2vw;

}
.con h1{
    font-size: 10vw;
    
    
    
}
.con{
   
    margin-bottom: 5px;
    display: inline-block;
    animation-name: move;
    animation-duration: 12s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
   
}
#moving-text{
    white-space: nowrap
    ;
    overflow-x: auto;
   
    
    
}
#moving-text::-webkit-scrollbar{
    display: none;
}
#moving-text h1{
    display: inline-block;
}
@keyframes move {
    from{
        transform: translateX(0);
    }
    to{
        transform:translateX(-100%);
    }
    
}

#page-2-bottom{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4.5vw 4.5vw;
    position: relative;
}
#page-2-bottom-left h1{

width: 60%;
    line-height:4vw ;
    font-size: 3vw;
    width: 60%;
    position: relative;
    z-index: 9;


}

#page-2-bottom-right{
    width: 40%;
    border-top-right-radius: 40%;
    border-bottom-left-radius: 40%;
    
}
#page-2-bottom-right img{
   margin-bottom: 2vw;
    width: 100%;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    border-top-left-radius: 10%;
    
}
#page-2-bottom-right p{
    font-family: razi;
    font-weight: 150;
}
#page-2-bottom-effect{
    height: 35vw;
    width: 35vw;
    background:linear-gradient(to top right,#ec2c06,#f1a013);
    
    border-radius: 50%;
    filter: blur(20px);
    position: absolute;
    top: 15%;
    left: 25%;
    animation-name: bottom-effect;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes bottom-effect{
    from{
        transform: translate(10%,-10%) skew(0deg);
    }
    to{
        filter: blur(35px);
        background-color: rgba(228, 69, 69);
        
        transform: translate(-10%,10%) skew(-20deg);
    }
}

#page-3{
    min-height: 100vh;
    background-color: #EFEAE3;
    width: 100%;
    position: relative;
}
.heading{

    height:120px;
    width: 100%;
    border-bottom:1px solid rgb(90, 87, 87) ;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3vw;
    position: relative;
    overflow: hidden;

    
}
.heading h1{
    font-size:4vw;
    position: relative;
    z-index: 99;
}
#side-text{
    text-align: right;
    position: relative;
    z-index: 99;
}

.heading .cover{
    height:100%;
    width: 100%;
    background-color: #e9a71a;
    position: absolute;
    top: -100%;

    left: 0;
    transition: all ease 0.3s;

}
 .heading:hover .cover{
    top: 0;
     
 }
#hover-image{
    background-color: red;
    height: 29vw;
    width: 23vw;
    border-radius: 10px;
    position: fixed;
    z-index: 99;

    left: 50%;
    top:27% ;
    display: none;
    background-size: cover;
    background-position: center;
}


#page-4{
    height: 120vh;
    width: 100%;
    background-color:#EFEAE3;
    padding: 4vw;
}
#page-4-container{
    height: 100vh;
    width: 100%;
    background-color: black;
    border-radius: 1vw;
    display: flex;
    align-items: center;
    align-content: center;

    
}
#page-4-left{
    color: rgb(115, 110, 110);
    height: 100%;
    width: 40%;

   ;
    display: flex;
    flex-direction:column;
    align-content: center
    ;
   
    text-align: left;
    padding: 4vw;
    
    
    
}#page-4-left a{
    
    text-align:left;
    font-size: 4vw;
    text-decoration: none;
    color: rgb(115, 110, 110);
}
#page-4-left a:hover{
    color: #EFEAE3;
}
#page-4-left p:hover{
    color: #EFEAE3;
}
#page-4-left p{

    font-size: 1.5vw;
}
#page-4-right{
    height: 100%;
    width: 60%;

    background-image: url("image9.webp");
    background-size: cover;
    border-radius: 1vw;
}
#page-5{
    height: 80vh;
    width: 100%;
    background-color: #EFEAE3;
}




.swiper {
    width: 100%;
    height: 75%;
    
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background:#EFEAE3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid rgb(108, 105, 105);
    
    padding: 5vw;
    text-align: left;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    scale:0.5;
  }
  /* .swiper:hover ~ #cursor1{
    transform:  translate(-50%,-50%) scale(1.5);
    background-color: #FE320A;
    opacity: .6;

    
} */





#page-6{
    height: 100vh;
    width: 100%;
    background-color: transparent;

}


#peeche-sundown-top{
    height: 40vh;
    width: 100%;
    
    display: flex;
    justify-content: space-between;
    padding: 2vw 6vw;
}
#peeche-sundown-top p{
    font-size: 2vw;
    line-height: 8vh;
}

#peeche-sundown{
    position:fixed;
    background-color: black;
    height:100vh;
    width: 100%;
    z-index: 9;
    bottom: 0;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#peeche-sundown #peeche-sundown-heading{
    font-size: 19vw
    ;
}
#footer{
    height: 4vh;
    width: 100%;
    background-color:black;
    color: white;
    display: flex;
    font-weight: 200;
    font-size: 2vh;
    justify-content: space-between;
    padding: 1vw 4vw;
    border-top: 2px solid rgb(110, 107, 107);
    margin: 0 2vw;
}
#movingdiv1{
 position: absolute;
 height: 60vh;
 width: 80%;
 background:linear-gradient(#ec2c06,#f1a013);
 filter: blur(30px);
 right: 60%;
 bottom: 60;
 z-index: -99;
 animation-name: btanime3;
 animation-duration: 3s;
 animation-iteration-count: infinite;
 animation-direction: alternate-reverse;
 animation-timing-function: linear;

    


}
#movingdiv2{
     position: absolute;
 height: 70vh;
 width: 80%;
 background:linear-gradient(#ec2c06,#f1a013);
 
 bottom: 30%;
filter: blur(30px);
 transform: rotate(40deg);
 right: 0;
 z-index: -99;
 border-bottom-left-radius: 50%;
 
 animation-name: btanime1;
 animation-duration: 5s;
 animation-iteration-count: infinite;
 animation-direction: alternate;
 animation-timing-function: linear;
    

   
}

#movingdiv3{
    position: absolute;
    height: 40vh;
    width: 80%;
    background:linear-gradient(#ec2c06,#f1a013);
    top: 0;
    right: 0;
    filter: blur(30px);
    z-index: -99;
    /* animation-name: btanime3;
 animation-duration: 2s;
 animation-iteration-count: infinite;
 animation-direction: alternate-reverse;
 animation-timing-function: linear;
     */

   
 }
 @keyframes btanime1{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(25deg);
    }
 }
 @keyframes btanime2{
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-30%);
    }
 }
 @keyframes btanime3{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(-30deg);
    }
 }




#loader{
    height: 100%;
    width: 100%;
    background-color: black;
    position: fixed;
    z-index: 99;
    top:0;
    transition: all linear 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;

}
#loader h1{
    font-size: 4vw;
    color: transparent;
    background:linear-gradient( to right ,#ec2c06,#f1a013);
    -webkit-background-clip: text;
    position: absolute;
    opacity: 0;
    animation-name: load;
    animation-duration: 1.2s;
 
    animation-timing-function: linear;
  
}


#loader :nth-child(2){
   animation-duration: .8s;
   animation-delay: 2s;
}
#loader :nth-child(3){
    animation-delay: 3s;
  


    
}


@keyframes load{
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

#full-scr{
    height: 100vh;
    width: 100%;
    background-color: rgb(63, 62, 62);
    z-index: 99;
    position: fixed;
    top: -100%;
    opacity: .5;
    transition: all ease 0.5s;
}
#full-div1{
    height: 70vh;
    width: 100%;
    background-color: #EFEAE3;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: right;
}

@media (max-width:600px) {
    #page1{
        min-height: 100vh;
        width: 100vw;
        background-color: #EFEAE3;
        position: relative;
        padding: 0vw;
      
    
    
    }
    
    #nav{
        padding: 8vw 5vw;
        width: 100%;
        background-color: #EFEAE3;
       
        z-index: 1000;
       
    }
    #nav img{
        height: 9vh;
        transition: all ease 0.4;
    }
    #nav-part2{
        
        display: none;
    }
    #nav h3{
        display: block;
        padding: 3vw 5vw;
        font-size: 4vw;
        border: 1px solid rgb(113, 109, 109);
        border-radius: 20px 20px 20px 20px;
        font-weight: 200;
        padding-left: 10vw;
    }
    
#center{
    height: 62vh;
    width: 100%;
    /* background-color: orange; */
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border: 1px solid #0000003c;
    padding: 7vw 5vw;
    flex-direction: column-reverse;
    position: relative
    ;
    z-index: 9;
}
#left h3{
    width: 80%;
    font-size: 5.8vw;
    font-family: razi;
    line-height: 7vw;
}
#center h1{
    font-size: 16vw;
    line-height: 17vw;
    text-align: right;
}
#page1 video{
    width:92%;
    height: 70vh;
    object-fit: cover;
    object-position: center;
    border-radius: 15%;
    margin-top: 4vw;
    position: relative;
    margin-left: 4%;
}
#hero-shape{
    position: absolute;
    height: 76vw;
    width: 82vw;
    background-color:#FE320A;
    right: 0;
    top: 35%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(25px);
    
}
#hero1{
    height: 30vw;
    width: 30vw;
    background-color:  #FE320A;
    position: absolute;
    border-radius:50% ;
    filter: blur(40px);
    animation-name: anime1;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
#hero2{
    height: 30vw;
    width: 30vw;
    background-color: #FE320A;
    position: absolute;
    border-radius:50% ;
    
    animation-name: anime2;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
#hero3{
    height: 30vw;
    width: 30vw;
    filter: blur(50px);
    background-color:  orange;
    opacity: .5;
    position: absolute;
    border-radius:50% ;
    animation-name: anime3;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}
#hero4{
    height: 30vw;
    width: 30vw;
    background-color: #FE320A;
    opacity: .3;
    position: absolute;
    border-radius:50% ;
    right: -1;
    animation-name: anime4;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
}

@keyframes anime4 {
    form{
        transform: translate(0%,0%);
    }
    to{
        transform: translate(0%,-30%);
    }
    
}
@keyframes anime1 {
    form{
        transform: translate(-20%,10%);
    }
    to{
        transform: translate(10%,-8%);
    }
    
}
@keyframes anime2 {
    from{
        transform: translate(10%,-10%);
    }
    to{
        transform: translate(-50%,0%);
    }
    
}
@keyframes anime3{
    from{
        transform: translate(-20%,-20%);
    }
    to{
        transform: translate(20%,20%);
    }
}

#page-2{
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 8vw 0;
}
#gola{
    background-color: #FE320A;
    height:25px ;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    margin: 1vw 2vw;

}
.con h1{
    font-size: 14vw;
    
    
    
}
.con{
   
    margin-bottom: 5px;
    display: inline-block;
    animation-name: move;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
   
}
#moving-text{
    white-space: nowrap
    ;
    overflow-x: auto;
   
    
    
}
#moving-text::-webkit-scrollbar{
    display: none;
}
#moving-text h1{
    display: inline-block;
}
@keyframes move {
    from{
        transform: translateX(0);
    }
    to{
        transform:translateX(-100%);
    }
    
}




#page-2-bottom{
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 7vw 3vw;
    position: relative;
}
#page-2-bottom-left h1{

width: 90%;
    line-height:8vw ;
    font-size: 7vw;
    width: 100%;
    position: relative;
    z-index: 9;


}

#page-2-bottom-right{
    width: 70%;
    border-top-right-radius: 40%;
    border-bottom-left-radius: 40%;
    z-index: 9;
    
}
#page-2-bottom-right img{
   margin-bottom: 2vw;
    width: 100%;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    border-top-left-radius: 10%;
    
}
#page-2-bottom-right p{
    font-family: razi;
    font-weight: 150;
}
#page-2-bottom-effect{
    height: 65vw;
    width: 65vw;
    background:linear-gradient(to top right,#ec2c06,#f1a013);
    
    border-radius: 50%;
    filter: blur(20px);
    position: absolute;
    top: 15%;
    left: 25%;
    animation-name: bottom-effect;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes bottom-effect{
    from{
        transform: translate(10%,-10%) skew(0deg);
    }
    to{
        filter: blur(35px);
        background-color: rgba(228, 69, 69);
        
        transform: translate(-10%,10%) skew(-20deg);
    }
}

#page-4{
    height: 80vh;
    width: 100%;
    background-color:#EFEAE3;
    padding-top:7vw;
}
#page-4-container{
    height: 70vh;
    width: 90%;
    background-color: black;
    border-radius: 1vw;
    display: flex;
    flex-direction: column-reverse;

    align-content: center;
    border-radius: 25px;
    margin-left: 1vw;


    
}
#page-4-left{
    color: rgb(115, 110, 110);
    height: 100%;
    width: 100%;

   ;
    display: flex;
    flex-direction:column;
    align-content: center
    ;
   
    text-align: left;
    padding: 4vw;
    
    
    
}#page-4-left a{
    
    text-align:left;
    font-size: 8vw;
    text-decoration: none;
    color: rgb(115, 110, 110);
}
#page-4-left a:hover{
    color: #EFEAE3;
}
#page-4-left p:hover{
    color: #EFEAE3;
}
#page-4-left p{

    font-size: 5vw;
}
#page-4-right{
    height: 100%;
    width: 100%;

    background-image: url("image9.webp");
    background-size: cover;
    border-radius: 1vw;
}


#page-5{
    height: 80vh;
    width: 100%;
    background-color: #EFEAE3;
}




.swiper {
    width: 100%;
    height: 75%;
    
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background:#EFEAE3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid rgb(108, 105, 105);
    
    padding: 5vw;
    text-align: left;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    scale:1.5;
    padding: 2vw;
  }


  
#page-6{
    
    height: 100vh;
    width: 95%;
    background-color: transparent;

}


#peeche-sundown-top{
    margin-top: 10vw;
    padding: 4vw;
    height: 40vh;
    width: 100%;
    
    
    display: flex;
    justify-content: space-between;
    padding: 2vw 6vw;
}
#peeche-sundown-top p{
    display: none;
    font-size: 5vw;
    line-height: 2vh;
}

#peeche-sundown{
    position:fixed;
    background-color: black;
    height:100vh;
    width: 100%;
    z-index: 9;
    bottom: 0;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#peeche-sundown #peeche-sundown-heading{
    font-size: 19vw
    ;
}
#footer{
    position: absolute;
    bottom: 0;
    height: 4vh;
    width: 100%;
    background-color:black;
    color: white;
    display: flex;
    font-weight: 200;
    font-size: 5px;
    justify-content: space-between;
    padding: 1vw 1vw;
    border-top: 1px solid rgb(110, 107, 107);
    margin: 0 1vw;
}
#movingdiv1{
 position: absolute;
 height: 60vh;
 width: 80%;
 background:linear-gradient(#ec2c06,#f1a013);
 filter: blur(30px);
 right: 60%;
 bottom: 60;
 z-index: -99;
 animation-name: btanime3;
 animation-duration: 1s;
 animation-iteration-count: infinite;
 animation-direction: alternate-reverse;
 animation-timing-function: linear;

    


}
#movingdiv2{
     position: absolute;
 height: 70vh;
 width: 80%;
 background:linear-gradient(#ec2c06,#f1a013);
 
 bottom: 30%;
filter: blur(30px);
 transform: rotate(40deg);
 right: 0;
 z-index: -99;
 border-bottom-left-radius: 50%;
 
 animation-name: btanime1;
 animation-duration: 2s;
 animation-iteration-count: infinite;
 animation-direction: alternate;
 animation-timing-function: linear;
    

   
}

#movingdiv3{
    position: absolute;
    height: 40vh;
    width: 80%;
    background:linear-gradient(#ec2c06,#f1a013);
    top: 0;
    right: 0;
    filter: blur(30px);
    z-index: -99;
    /* animation-name: btanime3;
 animation-duration: 2s;
 animation-iteration-count: infinite;
 animation-direction: alternate-reverse;
 animation-timing-function: linear;
     */

   
 }
 @keyframes btanime1{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(25deg);
    }
 }
 @keyframes btanime2{
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-30%);
    }
 }
 @keyframes btanime3{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(-30deg);
    }
 }

    
    

    
}







